PHP/htdocs/census/census.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="census">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="location" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
			  <xs:element name="name" type="xs:string"/>
			  <xs:element name="population" type="xs:integer"/>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
	</xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>